
<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <img th:if="${user.profilePictureBase64}" th:src="@{'data:image/jpeg;base64,'+${user.profilePictureBase64}}" height="250" width="250"/>
                    <br/>
                </div>
                <div>
                    <span th:text="${user.email}"></span>
                    <br/>
                    <span th:text="${user.fullName}"></span>
                </div>
                <div class="form-group">
                    <div  class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" th:href="@{/}">Cancel</a>
                        <a class="btn btn-default" th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>