<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/register}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="profile_picture">Profile Picture</label>
                        <div class="col-sm-4">
                            <input type="file" class="form-control" id="profile_picture" placeholder="profile picture" multiple accept="image/*,image/jpeg" name="profilePicture"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="email" id="user_email" placeholder="Email" name="email" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_fullname">Full Name</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="user_fullname" placeholder="Full Name" name="fullName" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="password" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="confirmPassword" required="required"/>
                        </div>
                    </div>
                    <!--<div id="preview-container">
                        <span class="btn" id="upload-dialog">Choose Profile Image</span>
                        <input type="file" id="image-file" style="display:none" name="profilePicture"/>
                    </div>-->
                    <!--<form action="form-group" >
                        <input type="file" name="fileupload" value="fileupload" id="fileupload">
                        <label for="fileupload"> Select a file to upload</label>
                        <br><input type="image" alt="Submit" width="100">
                    </form>-->

                    <div class="form-group">
                        <div  class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input value="Submit" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
